.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Optionally, set a full viewport height for vertical centering */
  }
  
  h1 {
    text-align: center;
  }
  